body {
    margin: 0;
    padding: 0;
    width: 1400px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 300px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 150px;
    align-items: center;
}

.hero p {
    font-size: 25px;
}

.hero h1 {
    display: flex;
    flex-direction: column;
    padding-top: ;
    align-items: center;
    width: 200px;
    font-size: 70px;
}


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 60px;
}

.logo {
    width: 14px;
    height: auto;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: cente;
    gap: 20px;
}

.navigator li {
    white-space: nowrap;
}



.btn1 {
    display: inline-block;
    color: white;
    background-color: #0071e3;
    border-radius: 40px;
    padding: 10px 20px;
    margin: 0 10px;
    border-color: #0071e3;
    text-decoration: none;
    font-weight: bold;
}

.btn2 {
    display: inline-block;
    color: #0071e3;
    border: solid #0071e3;
    background-color: transparent;
    border-radius: 40px;
    padding: 7px 8px;
    margin: 0 10px;
    border-color: #0071e3;
    text-decoration: none;
    font-weight: bold;
    width: ;
}

.btn .btn1