body {
    margin: 0;
    padding: 0;
    background: url(iphone.png) no-repeat center center fixed;
    background-position: center;
    background-size: 1100px;
    background-position: bottom;
    background-color: #f5f5f6;
    min-height: 80vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 300px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.hero p {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.14286;
    letter-spacing: .007em;
    white-space: nowrap;
    font-weight: 200;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    margin-bottom: 20px;
    text-align: center;
}


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.logo {
    width: 14px;
    height: auto;
}

.nav-bar ul {
    cursor: default;
    width: auto;
    margin: 0 -8px;
    height: 44px;
    display: flex;
    list-style: none; 
    flex-direction: row;
    justify-content: space-between;
    align-items: cente;
    gap: 60px;
    -web-kit-user-select: none;
    user-select: none;
    padding: 10px;
}

.navigator li {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 10px;
    line-height: 14px;
}



.btn1 {
    display: inline-block;
    cursor: grab;
    color: white;
    background-color: #0071e3;
    border-radius: 40px;
    padding: 10px 20px;
    margin: 0 10px;
    border-color: #0071e3;
    text-decoration: none;
    font-weight: bold;
}

.btn2 {
    display: inline-block;
    color: #0071e3;
    border: solid #0071e3;
    background-color: transparent;
    border-radius: 40px;
    padding: 7px 8px;
    margin: 0 10px;
    border-color: #0071e3;
    text-decoration: none;
    font-weight: bold;
}